<h2>Zugang für Organisatoren</h2>

<%= simple_form_for :session, url: sessions_path, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <div class="controls">
    <%= f.button :submit, "Anmelden", class: "btn-primary" %>
  </div>
<% end %>
