<% provide(:title, "Schulen") %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stadt</th>
      <th>Land</th>
      <th>Zeitzone</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host.name, jmd_host_path(host) %></td>
      <td><%= host.city %></td>
      <td><%= flag_tag(host.country.country_code) %></td>
      <td><%= host.time_zone %></td>
    </tr>
    <% end %>
  </tbody>
</table>
