<% provide(:title, @host.name) %>

<%= link_to "Alle Schulen anzeigen", jmd_hosts_path, class: "btn btn-default" %>

<h3>Regionalwettbewerbe</h3>

<%= render 'host_statistics', contests: @rw_contests %>

<% if @lw_contests.size > 0 %>

<h3>Landeswettbewerbe</h3>

<%= render 'host_statistics', contests: @lw_contests %>

<% end %>
