<%= render layout: "modal", locals: { item_type: "participant", item_id: participant.id, title: participant.full_name } do %>
  <div class="modal-body">
    <%= render 'jmd/participants/participant_details', participant: participant %>
  </div>
  <div class="modal-footer">
    <%= link_to_close_modal "Schließen", class: "btn" %>
  </div>
<% end %>
