<% provide(:title, "Anmeldung zum Wettbewerb #{JUMU_YEAR}") %>

<p>Hier kannst du dein Vorspiel f체r "Jugend musiziert" <%= JUMU_YEAR %> anmelden. Wir freuen uns auf dich!
<br />
Anmeldeschluss ist, sofern nicht anders angegeben, der <strong>15. Dezember 2016</strong>.</p>

<p><em>Zum Vormerken: Der Landeswettbewerb 2017 findet vom 15. (Anreise) bis 21. M채rz (Abreise) an der DS Br체ssel statt.</em></p>

<hr />

<% if @contests.empty? %>
  <p class="alert alert-info">Leider stehen momentan keine Wettbewerbe zur Anmeldung offen.</p>
<% else %>
  <p>W채hle deinen Regionalwettbewerb:</p>
  <% @contests.each do |contest| %>
    <p>
    <%= flag_tag(contest.host.country.country_code) %>
    <%= link_to contest.name, new_contest_performance_path(contest) %></li>
    </p>
  <% end %>
<% end %>
