<% if object.errors.any? %>
  <div id="error_explanation" class="error">
    <p>Bitte korrigiere vor dem Absenden die folgenden Fehler:</p>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>