<% provide(:title, "Zum Wettbewerb \"Jugend musiziert\"") %>

<p>“Jugend musiziert” ist <strong>der größte Musikwettbewerb für die Jugend in Deutschland</strong> und findet seit 1963 mit mittlerweile jährlich über 20.000 Teilnehmern in 170 Orten statt. Er wird in drei Runden durchgeführt: Regional-, Landes- und Bundeswettbewerb. Teilnehmer mit ersten Preisen qualifizieren sich für die jeweils nächste Runde. Am Bundeswettbewerb nehmen noch ungefähr 2.000 junge Musiker teil.</p>

<p><strong>“Jugend musiziert” Nord- und Osteuropa</strong> existiert seit 1997. Seitdem haben Jugendliche aus den Deutschen Schulen Oslo, Stockholm, Moskau, Warschau, Budapest, Prag, Sofia, Dublin, London, Temeschwar, Kopenhagen, Paris, Toulouse, Genf, Bratislava und Helsinki an diesem Wettbewerb teilgenommen. Er wurde erstmalig 1997 und 1998 als Regional- und Landeswettbewerb mit jeweils über 100 Teilnehmern an der Deutschen Schule Helsinki durchgeführt.</p>

<p>Seit 1999 wird die erste Runde des Wettbewerbes, der <strong>Regionalwettbewerb</strong>, im eigenen Land durchgeführt. Bei der zweiten Runde, dem <strong>Landeswettbewerb</strong>, zeigen dann die weitergeleiteten Teilnehmer aller Deutschen Schulen in der Region ihr Können. Er fand 1999 an der Deutschen Schule Stockholm, 2000 an der DS Oslo, 2001 an der DS Moskau, 2002 an der DS Dublin, 2003 an der DS Budapest, 2004 erneut an der DS Stockholm, und 2005 an der DS London statt.</p>

<p>Das zehnjährige Bestehen wurde 2006 wieder an der DS Helsinki gefeiert und leitete eine neue Wettbewerbsdekade ein, die an den folgenden Schulen erfolgreich weitergeführt wurde:</p>
<p>
2007: DS Prag<br>
2008: DS Budapest<br>
2009: DS Stockholm<br>
2010: DS Dublin<br>
2011: DS Warschau<br>
2012: DS London<br>
2013: DS Moskau<br>
2014: DS Kopenhagen<br>
2015: DS Paris
</p>

<p>Der 20. Landeswettbewerb "Jugend musiziert" Nord- und Osteuropa findet <strong>vom 16. bis 21.&nbsp;März&nbsp;2016 an der DS Helsinki</strong> statt.</p>

<h3>Organisation und Gremien</h3>

<h4>Die Regionalausschüsse</h4>

<p>Im Ausland lebende Kinder und Jugendliche deutscher Nationalität sowie Schüler deutscher Auslandsschulen haben die Möglichkeit, in ihrem Land am Wettbewerb “Jugend musiziert” teilzunehmen. Die erste Runde des Wettbewerbs, der Regionalwettbewerb, wird an vielen Deutschen Schulen im Ausland durchgeführt. Für die Organisation dieser Veranstaltung ist ein <strong>Regionalausschuss</strong> an der jeweiligen Schule verantwortlich.</p>

<p>Jeder Regionalausschuss setzt sich aus mindestens fünf ehrenamtlichen Mitgliedern zusammen. Es sollten zumindest ein Musik- oder Instrumentallehrer der Schule sowie ein Vertreter der Schulleitung bzw. des Schulvorstandes oder der Elternschaft im Regionalausschuss mitarbeiten.</p>

<h4>Landesausschuss</h4>

<p>Die zweite Wettbewerbsrunde, der Landeswettbewerb, wird jährlich von einer anderen teilnehmenden Schule ausgerichtet. Verantwortlich für die Organisation ist somit der Regionalausschuss der jeweiligen Schule. Unterstützt wird er dabei vom <strong>Landesausschuss Nord- und Osteuropa</strong>, der sich aus langjährigen Wettbewerbsleitern und erfahrenen Organisatoren zusammensetzt. Er betreut auch neu hinzugekommene Schulen bei der Vorbereitung und Planung eines Regionalwettbewerbs.</p>

<h4>Erweiterter Landesausschuss</h4>

<p>Die Regionalausschüsse der einzelnen Schulen entsenden jeweils einen Vertreter und erweitern so den Landesausschuss zum <strong>Erweiterten Landesausschuss Nord- und Osteuropa</strong>, der sich einmal jährlich während des Landeswettbewerbs zur Jahreskonferenz trifft. Außerdem werden seine Mitglieder zur Hauptversammlung aller Auslandsschulen beim Bundeswettbewerb “Jugend musiziert” eingeladen.</p>
