<% provide(:title, "Zum Wettbewerb \"Jugend musiziert\"") %>

<p>“Jugend musiziert” ist <strong>der größte Musikwettbewerb für die Jugend in Deutschland</strong> und findet seit 1963 mit mittlerweile jährlich über 20.000 Teilnehmern in 170 Orten statt. Er wird in drei Runden durchgeführt: Regional-, Landes- und Bundeswettbewerb. Teilnehmer mit ersten Preisen qualifizieren sich für die jeweils nächste Runde. Am Bundeswettbewerb nehmen noch ungefähr 2.000 junge Musiker teil.</p>

<p><strong>“Jugend musiziert” Nord- und Osteuropa</strong> existiert seit 1997; seitdem beteiligen sich vorwiegend Jugendliche aus den Deutschen Schulen Oslo, Stockholm, Moskau, Warschau, Budapest, Prag, Sofia, Dublin, London, Temeschwar und Helsinki an diesem Wettbewerb. Er wurde erstmalig 1997 und 1998 als Regional- und Landeswettbewerb mit jeweils über 100 Teilnehmern an der Deutschen Schule Helsinki durchgeführt.</p>

<p>Seit 1999 wird die erste Runde des Wettbewerbes, der <strong>Regionalwettbewerb</strong>, im eigenen Land durchgeführt. Bei der zweiten Runde, dem <strong>Landeswettbewerb</strong>, zeigen dann die weitergeleiteten Teilnehmer aller Deutschen Schulen in der Region ihr Können. Er fand 1999 an der Deutschen Schule Stockholm, 2000 an der DS Oslo, 2001 an der DS Moskau, 2002 an der DS Dublin, 2003 an der DS Budapest, 2004 erneut an der DS Stockholm, und 2005 an der DS London statt.</p>

<p>Das zehnjährige Bestehen wurde 2006 wieder an der DS Helsinki gefeiert und leitete eine neue Wettbewerbsdekade ein, die 2007 an der DS Prag, 2008 an der DS Budapest, 2009 an der DS Stockholm, 2010 an der DS Dublin, 2011 an der DS Warschau und 2012 an der DS London erfolgreich weitergeführt wurde. Der nächste Landeswettbewerb findet <strong>vom 6. bis 10.&nbsp;März&nbsp;2013 an der DS Moskau</strong> statt!</p>
