<% provide(:title, "Fragen und Antworten") %>

Diese Seite enthält eine Reihe von Fragen, die uns über die Jahre hinweg immer wieder gestellt werden. Die Liste wird ständig erweitert. Falls du Vorschläge für weitere Fragen hast, schreibe uns einfach über das <%= link_to "Kontaktformular", contact_path %>.

<h3>Anmeldung</h3>

<dl>
  <dt>Ab wann kann ich mich anmelden?</dt>
  <dd>Die Anmeldung für das neue Wettbewerbsjahr ist ab Ende Oktober möglich.</dd>

  <dt>Bis wann muss ich mich anmelden?</dt>
  <dd>Der Anmeldeschluss hängt von der Schule ab. Die jeweiligen Daten findest du auf der Anmeldeseite.</dd>

  <dt>Muss ich mich nach einer Weiterleitung für die nächste Runde erneut anmelden?</dt>
  <dd>Zum Landeswettbewerb musst du dich nicht erneut anmelden. Nur für den Bundeswettbewerb muss eine gesonderte Anmeldung ausgefüllt und per Post abgeschickt werden.</dd>
</dl>

<h3>Altersgruppe</h3>

<dl>
  <dt>Wie wird die Altersgruppe berechnet?</dt>
  <dd>Auf Seite 6 der Ausschreibung findest du eine Tabelle zum Nachschlagen. Bei Solisten zählt hier einfach das Geburtsjahr. Bei Ensembles nimmt man das Durchschnittsalter aller Spielpartner <em>auf den Tag genau</em> und schaut dann, in welchem Jahr dieser Tag liegt. Bei Begleitgruppen wird dies genauso gemacht, ohne dabei den Solisten mitzuzählen.</dd>
</dl>

<h3>Vorspielprogramm</h3>

<dl>
  <dt>Kann ich mein Vorspielprogramm nach der Anmeldung noch ändern?</dt>
  <dd>Ja! Hierfür bekommst du per E-Mail einen Änderungscode geschickt. Mit diesem kannst bis zum Anmeldeschluss dein Programm noch ändern. Falls zu zum Landeswettbewerb weitergeleitet wirst, bekommst du nach Abschluss aller Regionalwettbewerbe einen zweiten Änderungscode, mit dem du vor dem LW erneut dein Programm ändern kannst.</dd>

  <dt>Darf ich mich in den Klassik-Kategorien per Playback begleiten lassen?</dt>
  <dd>Nein, in der Klassik ist eine Begleitung per Playback nicht möglich.</dd>
</dl>

<h3>"Kinder musizieren" (Kimu)</h3>

<dl>
  <dt>Wer kann bei Kimu teilnehmen?</dt>
  <dd>Kimu ist für junge Teilnehmer gedacht, um vor dem "richtigen" Wettbewerb in familiärer Atmosphäre erste Bühnenerfahrung zu sammeln. Hier sind vor allem die Altersgruppen I und II gemeint, eine feste Altersgrenze gibt es aber nicht.</dd>

  <dt>Kann man bei Kimu eine Weiterleitung bekommen?</dt>
  <dd>Nein, eine Weiterleitung ist bei Kimu nicht möglich.</dd>
</dl>

<h3>Landeswettbewerb</h3>

<dl>
  <dt>Ich kann nur an einem bestimmten Datum beim LW vorspielen. Ist das möglich?</dt>
  <dd>Jumu ist bei uns mehr als nur ein Vorspieltermin! Beim Landeswettbewerb steht auch das Kennenlernen und der musikalische Austausch im Mittelpunkt. Wir wünschen uns deshalb, dass alle Teilnehmer für die gesamten Wettbewerbstage anreisen. Bei einer <em>begründeten</em> Verhinderung (siehe <%= link_to "Ausschreibung", asset_path('Ausschreibung_2018.pdf') %>, Seite 8) können wir versuchen, dich an einen <%= link_to "anderen Landeswettbewerb", "http://www.jugend-musiziert.org/landeswettbewerbe.html" %> zu vermitteln.</dd>
</dl>
