<% provide(:title, "Fragen und Antworten") %>

Diese Seite enthält eine Reihe von Fragen, die uns über die Jahre hinweg immer wieder gestellt werden. Die Liste wird ständig erweitert. Falls du Vorschläge für weitere Fragen hast, schreibe uns einfach über das <%= link_to "Kontaktformular", contact_path %>.

<h3>Anmeldung</h3>

<dl>
  <dt>Wann kann ich mich anmelden?</dt>
  <dd>Die Anmeldung für das neue Wettbewerbsjahr ist ab dem 15. Oktober möglich.</dd>

  <dt>Kann ich in den Kategorien "Gesang (Pop) solo" <em>und</em> "Vokalensemble (Pop)" teilnehmen?</dt>
  <dd>Nein, eine Teilnahme ist im gleichen Jahr nur in einer der beiden Kategorien möglich.</dd>

  <dt>Muss ich mich nach einer Weiterleitung für die nächste Runde erneut anmelden?</dt>
  <dd>Nach einer Weiterleitung zum Landeswettbewerb musst du dich nicht erneut anmelden. Nur für den Bundeswettbewerb muss eine gesonderte Anmeldung ausgefüllt und per Post abgeschickt werden.</dd>
</dl>

<h3>Vorspielprogramm</h3>

<dl>
  <dt>Darf ich mich in den Klassik-Kategorien per Playback begleiten lassen?</dt>
  <dd>Nein, in der Klassik ist eine Begleitung per Playback nicht möglich.</dd>
</dl>
