<h2>Hallo und herzlich willkommen&nbsp;&hellip;</h2>

<p>&hellip;&nbsp;auf der Website des Wettbewerbs “Jugend musiziert” für die Deutschen Schulen der Wettbewerbsregion Nord- und Osteuropa!</p>

<p>Neben allgemeinen Informationen zum <%= link_to "Wettbewerb", competition_path %> und seiner <%= link_to "Organisation", organisation_path %> finden sich auf diesen Seiten auch die <%= link_to "Ausschreibung", rules_path %>, sowie während der Herbstmonate die Anmeldung für die ersten beiden Wettbewerbsrunden des Folgejahres.</p>

<p class="info">Die Ausschreibung für das Wettbewerbsjahr 2012 steht nun unter dem Link <%= link_to "Ausschreibung", rules_path %> zum Download bereit! Auf der gleichen Seite findet Ihr auch die Regeln für die Pop-Kategorien.</p>