<% provide(:title, "Landeswettbewerb #{JUMU_YEAR} an der #{JUMU_HOST}") %>

<p>Der Landeswettbewerb 2015 in Paris ist nun abgeschlossen. Wir danken allen Teilnehmern und Beteiligten!</p>

<p>Der nächste Landeswettbewerb findet <strong>vom 16. bis 21. März an der DS Helsinki</strong> statt.</p>

<h3>Ergebnisse</h3>

<ul>
  <p>
    <%= icon_tag "file" %>
    <%= link_to "Ergebnislisten Klassik", asset_path('LW2015_Ergebnisse_Klassik.pdf') %>
  </p>

  <p>
    <%= icon_tag "file" %>
    <%= link_to "Ergebnislisten Pop", asset_path('LW2015_Ergebnisse_Pop.pdf') %>
  </p>
</ul>
