<% provide(:title, "Landeswettbewerb #{JUMU_YEAR} an der #{JUMU_HOST}") %>

<p class="alert alert-info">Diese Seite enthält unvollständige Informationen und wird laufend nach Möglichkeit aktualisiert.</p>

<%= image_tag "logo_lw2013.png", id: "lw-logo", class: "pull-right" %>

<h3>Zeitplan</h3>

<p><span class="label label-important">Wichtig</span> Der genaue Vorspielplan wird erst kurz vor dem Wettbewerb erstellt und kann sich auch danach noch ändern. Außerdem ist das Anhören anderer Wertungsspiele und die Teilnahme an Workshops und Konzerten ein zentraler Gedanke von “Jugend musiziert”. Daher bitten wir alle Teilnehmer, zumindest <strong>während der gesamten Wettbewerbstage, also vom 7. bis 9.&nbsp;März</strong> in Moskau zu sein!</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Mi 6.3.</th>
      <th>Do 7.3.</th>
      <th>Fr 8.3.</th>
      <th>Sa 9.3.</th>
      <th>So 10.3.</th>
      <th>Mo 11.3.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Anreise</td>
      <td>Wertungsspiele</td>
      <td>Wertungsspiele</td>
      <td>Wertungsspiele</td>
      <td>Abschlusskonzert</td>
      <td>Abreise</td>
    </tr>
  </tbody>
</table>

