<% provide(:title, "Organisation und Gremien") %>

<h3>Die Regionalausschüsse</h3>

<p>Im Ausland lebende Kinder und Jugendliche deutscher Nationalität sowie Schüler deutscher Auslandsschulen haben die Möglichkeit, in ihrem Land am Wettbewerb “Jugend musiziert” teilzunehmen. Die erste Runde des Wettbewerbs, der Regionalwettbewerb, wird an vielen Deutschen Schulen im Ausland durchgeführt. Für die Organisation dieser Veranstaltung ist ein <strong>Regionalausschuss</strong> an der jeweiligen Schule verantwortlich.</p>

<p>Jeder Regionalausschuss setzt sich aus mindestens fünf ehrenamtlichen Mitgliedern zusammen. Es sollten zumindest ein Musik- oder Instrumentallehrer der Schule sowie ein Vertreter der Schulleitung bzw. des Schulvorstandes oder der Elternschaft im Regionalausschuss mitarbeiten.</p>

<h3>Landesausschuss</h3>

<p>Die zweite Wettbewerbsrunde, der Landeswettbewerb, wird jährlich von einer anderen teilnehmenden Schule ausgerichtet. Verantwortlich für die Organisation ist somit der Regionalausschuss der jeweiligen Schule. Unterstützt wird er dabei vom <strong>Landesausschuss Nord- und Osteuropa</strong>, der sich aus langjährigen Wettbewerbsleitern und erfahrenen Organisatoren zusammensetzt. Er betreut auch neu hinzugekommene Schulen bei der Vorbereitung und Planung eines Regionalwettbewerbs.</p>

<h3>Erweiterter Landesausschuss</h3>

<p>Die Regionalausschüsse der einzelnen Schulen entsenden jeweils einen Vertreter und erweitern so den Landesausschuss zum <strong>Erweiterten Landesausschuss Nord- und Osteuropa</strong>, der sich einmal jährlich während des Landeswettbewerbs zur Jahreskonferenz trifft. Außerdem werden seine Mitglieder zur Hauptversammlung aller Auslandsschulen beim Bundeswettbewerb “Jugend musiziert” eingeladen.</p>
