<% provide(:title, "Ausschreibung 2015") %>

<p>Die Ausschreibung ist der Schlüssel zur Teilnahme an "Jugend musiziert". Sie enthält viele wichtige Informationen zu Altersgruppen, Kategorien sowie den Anforderungen an das Vorspielprogramm, und kann hier im PDF-Format heruntergeladen werden:</p>

<p>
  <%= icon_tag "file" %>
  <%= link_to "Ausschreibung 2015 (799 KB, PDF)", asset_path('Ausschreibung_2015.pdf') %>
</p>

<p>Zusätzlich zur Ausschreibung gibt es in der Region Nord- und Osteuropa auch die unten genannten Sonderkategorien.</p>

<h3>Sonderkategorien "Populäre Musik"</h3>

<p>Im Wettbewerbsjahr 2015 werden neben der in der Ausschreibung enthaltenen Kategorie "E-Bass solo" in der Region Nord- und Osteuropa auch die untenstehenden Kategorien ausgeschrieben. In allen Sonderkategorien ist die Teilnahme <strong>nur in den Altersgruppen III–VI</strong> möglich.</p>

<p class="alert alert-info">Lies bitte die Regeln vor der Anmeldung genau durch, da es in diesem Jahr einige Änderungen gibt! <strong>Die Kategorie "Popgesang solo" findet 2015 nicht statt, dafür wird neu die Kategorie "Vokal-Ensemble (Pop) angeboten.</strong></p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#pop-vokalensemble" role="tab" data-toggle="tab">Vokal-Ensemble (Pop)</a></li>
  <li><a href="#pop-gitarre" role="tab" data-toggle="tab">Gitarre (Pop) solo</a></li>
  <li><a href="#pop-drumset" role="tab" data-toggle="tab">Drum-Set (Pop) solo</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pop-vokalensemble">

    <h4>Vokal-Ensemble (Pop)</h4>

    <p>Es können 2-5 Sänger allein oder mit Begleitung teilnehmen. Die Gesamtanzahl von 5 Mitgliedern, einschließlich Begleitung, darf nicht überschritten werden. Die zu bewertenden Sänger müssen bei allen Titeln mitwirken. Die Verteilung der Gesangsparts im Programm sollte gleichwertig sein. Durchgängige Stimmverdopplungen und durchgängige einfache Terzgänge sind nicht erwünscht.</p>

    <h5>Vorspielprogramm</h5>

    <p>Die Auftrittszeit (siehe Tabelle) darf einschließlich Umbau und Stimmen nicht überschritten werden. Ein Titel muss völlig unbegleitet präsentiert werden.</p>

    <p>Es kann mit oder ohne Mikrofon gesungen werden. Playbacks sind nicht erlaubt.</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Altersgruppe</th>
          <th>Programm</th>
          <th>Auftrittszeit</th>
        </tr>
        <tr>
          <td>III</td>
          <td>mindestens zwei stilistisch unterschiedliche Titel</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>IV</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>V und VI</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>15–20 Minuten</td>
        </tr>
      </tbody>
    </table>

    <h5>Begleiter</h5>

    <p>Der zu bewertende jugendliche Begleiter oder die jugendliche Begleitgruppe müssen mindestens bei der Hälfte des Programms mitwirken. Instrumente dürfen gewechselt werden. Sänger dürfen sich auch selbst begleiten.  Bei Begleitung von einem Erwachsenen, nicht die Gesangslehrkraft, sind nur 4 Sänger zulässig. Der erwachsene Begleiter darf nicht mitsingen.</p>
  </div>
  <div class="tab-pane" id="pop-gitarre">
    <h4>Gitarre (Pop) solo</h4>

    <h5>Vorspielprogramm</h5>

    <p>Die Auftrittszeit (siehe Tabelle) darf einschließlich Umbau und Stimmen nicht überschritten werden. Ein Titel muss völlig unbegleitet präsentiert werden.</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Altersgruppe</th>
          <th>Programm</th>
          <th>Auftrittszeit</th>
        </tr>
        <tr>
          <td>III</td>
          <td>mindestens zwei stilistisch unterschiedliche Titel</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>IV</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>V und VI</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>15–20 Minuten</td>
        </tr>
      </tbody>
    </table>

    <h5>Begleiter</h5>

    <p>Zugelassen für alle Altersgruppen sind bis zu drei jugendliche Begleiter, die gesondert als Begleitgruppe bewertet werden. Gewertet wird nur, wer an mindestens zwei Stücken mitwirkt. Auch Begleitgruppen brauchen für eine Weiterleitung mindestens 23 Punkte. Alternativ ist auch ein erwachsener, nicht zu bewertender Begleiter möglich.</p>
  </div>
  <div class="tab-pane" id="pop-drumset">
    <h4>Drum-Set (Pop) solo</h4>

    <h5>Vorspielprogramm</h5>

    <p>Die Auftrittszeit (siehe Tabelle) darf einschließlich Umbau und Stimmen nicht überschritten werden. Ein Titel muss völlig unbegleitet präsentiert werden.</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Altersgruppe</th>
          <th>Programm</th>
          <th>Auftrittszeit</th>
        </tr>
        <tr>
          <td>III</td>
          <td>mindestens zwei stilistisch unterschiedliche Titel</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>IV</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>V und VI</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>15–20 Minuten</td>
        </tr>
      </tbody>
    </table>

    <h5>Begleiter</h5>

    <p>Zugelassen für alle Altersgruppen sind bis zu drei jugendliche Begleiter, die gesondert als Begleitgruppe bewertet werden. Gewertet wird nur, wer an mindestens zwei Stücken mitwirkt. Auch Begleitgruppen brauchen für eine Weiterleitung mindestens 23 Punkte. Alternativ ist auch ein erwachsener, nicht zu bewertender Begleiter möglich.</p>
  </div>
</div>

<hr>

<h3>Sonderkategorie "Kinder musizieren"</h3>

<p>Zunächst an der DS Helsinki zur Nachwuchsförderung eingerichtet, wird die Sonderkategorie <strong>"Kinder musizieren"</strong> mittlerweile an mehreren Schulen der Region Nord- und Osteuropa angeboten. Es kann mit einem beliebigen Instrument oder Gesang teilgenommen werden. Auch Mehrfachteilnahmen und Ensemblespiel sind erlaubt.</p>

<p>Empfohlen wird die Kategorie besonders für Instrumentalanfänger, die noch keine oder wenig Bühnenerfahrung besitzen. "KiMu" ist der sanfte Einstieg, bei dem die Motivation zum Weitermachen im Vordergrund steht.

<p>Teilnahmeanforderungen:
<ul>
    <li>Mindestens zwei Stücke unterschiedlichen Charakters (z.B. schnell – langsam)</li>
    <li>Vorspieldauer: höchstens 5 Minuten</li>
</ul>
</p>

<p>Die KiMu-Anmeldung findet, genau wie für den "großen" JuMu-Wettbewerb, hier auf <a href="http://www.jumu-nordost.eu">jumu-nordost.eu</a> statt. Dazu einfach auf dem <%= link_to "Anmeldeformular", new_performance_path %> als Kategorie "Kinder musizieren" auswählen!</p>
