<% provide(:title, "Ausschreibung 2014") %>

<p>Die Ausschreibung ist der Schlüssel zur Teilnahme an "Jugend musiziert". Sie enthält viele wichtige Informationen zu Altersgruppen, Kategorien sowie den Anforderungen an das Vorspielprogramm, und kann hier im PDF-Format heruntergeladen werden:</p>

<p>
  <%= icon_tag "file" %>
  <%= link_to "Ausschreibung 2014 (524 KB, PDF)", asset_path('Ausschreibung_2014.pdf') %>
</p>

<p>Nicht in der Ausschreibung enthalten sind unten genannte Sonderkategorien, die es (fast) nur in der Region Nord- und Osteuropa gibt!</p>

<h3>Sonderkategorien "Populäre Musik"</h3>

<p>Im Wettbewerbsjahr 2014 werden neben den in der Ausschreibung enthaltenen Kategorien "Drum-Set (Pop)" und "Gitarre (Pop)" in der Region Nord- und Osteuropa auch die Kategorien <strong>Popgesang solo</strong> und <strong>E-Bass solo</strong> ausgeschrieben. In diesen Sonderkategorien ist die Teilnahme erst ab Altersgruppe III möglich. Gefordert werden mindestens drei Stücke unterschiedlichen Charakters, darunter ein <em>a&nbsp;cappella</em>-Stück. Die Auftrittszeit von 15 Minuten darf einschließlich Umbau und Stimmen nicht überschritten werden. Ab Altersgruppe IV sollte der Vortrag eine Eigenkomposition beinhalten.</p>

<p>Zugelassen für alle Altersgruppen sind bis zu drei jugendliche Begleiter, die gesondert als Begleitgruppe bewertet werden. Auch Begleitgruppen brauchen für eine Weiterleitung mindestens 23 Punkte. Alternativ hierzu ist ein erwachsener, nicht zu bewertender Begleiter möglich.</p>

<p>Die oben genannten Bedingungen sind nur für die Deutschen Schulen Nord- und Osteuropas verbindlich.</p>


<h3>Sonderkategorie "Kinder musizieren"</h3>

<p>Zunächst an der DS Helsinki zur Nachwuchsförderung eingerichtet, wird die Sonderkategorie <strong>Kinder musizieren</strong> mittlerweile an mehreren Schulen der Region Nord- und Osteuropa angeboten. Es kann mit einem beliebigen Instrument oder Gesang teilgenommen werden. Auch Mehrfachteilnahmen und Ensemblespiel sind erlaubt.</p>

<p>Teilnahmeanforderungen:
<ul>
    <li>Mindestens zwei Stücke unterschiedlichen Charakters (z.B. schnell – langsam)</li>
    <li>Vorspieldauer: höchstens 5 Minuten</li>
</ul>
</p>
