<% provide(:title, "Wettbewerbsregeln") %>

<p>Die <strong>Ausschreibung</strong> ist dein Schlüssel zur Teilnahme an "Jugend musiziert". Sie enthält wichtige Informationen zu Altersgruppen, Kategorien sowie dem geforderten Vorspielprogramm, und kann hier heruntergeladen werden:</p>

<p>
  <%= icon_tag "file" %>
  <%= link_to "Ausschreibung 2017 (PDF)", asset_path('Ausschreibung_2017.pdf') %>
</p>

<p>Über die Ausschreibung hinaus bestehen für die Region Nord- und Osteuropa die unten aufgeführten Sonderregelungen.</p>

<h3>"Populäre Musik"</h3>

<h4>Erweiterung offizieller Kategorien</h4>

<p>Grundsätzlich gilt: <strong>Ist eine Pop-Kategorie im Wettbewerbsjahr offiziell ausgeschrieben, gelten für sie die Regeln der Ausschreibung.</strong> Eine Weiterleitung ist dann je nach Altersgruppe bis zum Bundeswettbewerb möglich. Im Wettbewerbsjahr 2017 sind dies die Kategorien "Gitarre (Pop)" und "Drumset (Pop)".</p>

<p>Die Region Nord- und Osteuropa erweitert diese Kategorien um die Sonderregelung, dass im Landeswettbewerb bis zu drei jugendliche Begleiter mitwirken können, deren gemeinsame Altersgruppe zwischen III und VI liegen muss. Sie müssen im Regionalwettbewerb ebenfalls 23 Punkte erreicht haben und werden gesondert als Begleitgruppe gewertet. Für den Bundeswettbewerb gilt dann nur noch die offizielle Ausschreibung.</p>

<h4>Sonderkategorien</h4>

<p>Außerdem werden für die Region Nord- und Osteuropa auch die untenstehenden Sonderkategorien angeboten. In diesen ist die Teilnahme grundsätzlich <strong>nur in den Altersgruppen III–VI</strong> möglich, und sie führen <strong>nur bis zum Landeswettbewerb</strong>.</p>

<p>Für die Begleitgruppe wird eine gemeinsame Altersgruppe errechnet, die ebenfalls zwischen III und VI liegen muss.</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#pop-vokalensemble" role="tab" data-toggle="tab">Vokal-Ensemble (Pop)</a></li>
  <li><a href="#pop-instrumental" role="tab" data-toggle="tab">Instrumental-Solo (Pop)</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pop-vokalensemble">

    <h4>Vokal-Ensemble (Pop)</h4>

    <p>Es können 2–4 Sänger allein oder mit Begleitung teilnehmen. Die Gesamtanzahl von 5 Mitgliedern, einschließlich Begleitung, darf nicht überschritten werden. Die zu bewertenden Sänger müssen bei allen Titeln mitwirken. Die Verteilung der Gesangsparts im Programm sollte gleichwertig sein. Durchgängige Stimmverdopplungen und durchgängige einfache Terzgänge sind nicht erwünscht.</p>

    <h5>Vorspielprogramm</h5>

    <p>Die Auftrittszeit (siehe Tabelle) darf einschließlich Umbau und Stimmen nicht überschritten werden. Ein Titel muss völlig unbegleitet präsentiert werden.</p>

    <p>Es kann mit oder ohne Mikrofon gesungen werden. Playbacks sind nicht erlaubt.</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Altersgruppe</th>
          <th>Programm</th>
          <th>Auftrittszeit</th>
        </tr>
        <tr>
          <td>III</td>
          <td>mindestens zwei stilistisch unterschiedliche Titel</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>IV</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>V und VI</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>15–20 Minuten</td>
        </tr>
      </tbody>
    </table>

    <h5>Begleiter</h5>

    <p>Der zu bewertende jugendliche Begleiter oder die jugendliche Begleitgruppe müssen mindestens bei der Hälfte des Programms mitwirken. Instrumente dürfen gewechselt werden, Begleiter dürfen aber nicht mitsingen. Sänger dürfen sich auch selbst begleiten. Die Begleitung durch einen Erwachsenen ist möglich, sofern es sich nicht um die Gesangslehrkraft handelt.</p>
  </div>
  <div class="tab-pane" id="pop-instrumental">
    <h4>Instrumental-Solo (Pop)</h4>

    <h5>Instrumente</h5>

    <p>Zugelassen sind <strong>alle akustischen und elektronisch verstärkten Instrumente</strong>, für die im Wettbewerbsjahr keine offizielle Pop-Kategorie ausgeschrieben ist.</p>

    <h5>Vorspielprogramm</h5>

    <p>Die Auftrittszeit (siehe Tabelle) darf einschließlich Umbau und Stimmen nicht überschritten werden. Ein Titel muss völlig unbegleitet präsentiert werden.</p>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Altersgruppe</th>
          <th>Programm</th>
          <th>Auftrittszeit</th>
        </tr>
        <tr>
          <td>III</td>
          <td>mindestens zwei stilistisch unterschiedliche Titel</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>IV</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>10–15 Minuten</td>
        </tr>
        <tr>
          <td>V und VI</td>
          <td>mindestens drei stilistisch unterschiedliche Titel, darunter eine Eigenkomposition oder Improvisation</td>
          <td>15–20 Minuten</td>
        </tr>
      </tbody>
    </table>

    <h5>Begleiter</h5>

    <p>Zugelassen für alle Altersgruppen sind bis zu drei jugendliche Begleiter, die gesondert als Begleitgruppe bewertet werden. Gewertet wird nur, wer an mindestens zwei Stücken mitwirkt. Auch Begleitgruppen brauchen für eine Weiterleitung mindestens 23 Punkte. Alternativ ist auch ein erwachsener, nicht zu bewertender Begleiter möglich.</p>
  </div>
</div>

<hr>

<h3>"Kinder musizieren" (Kimu)</h3>

<p>Zunächst an der DS Helsinki zur Nachwuchsförderung eingerichtet, wird die Sonderkategorie <strong>"Kinder musizieren"</strong> mittlerweile an mehreren Schulen der Region Nord- und Osteuropa angeboten. Es kann mit einem beliebigen Instrument oder Gesang teilgenommen werden. Auch Mehrfachteilnahmen und Ensemblespiel sind erlaubt.</p>

<p>Empfohlen wird die Kategorie besonders für Instrumentalanfänger, die noch keine oder wenig Bühnenerfahrung besitzen. Kimu ist der sanfte Einstieg, bei dem die Motivation zum Weitermachen im Vordergrund steht.

<p>Teilnahmeanforderungen:
<ul>
    <li>Mindestens zwei Stücke unterschiedlichen Charakters (z.B. schnell – langsam)</li>
    <li>Vorspieldauer: höchstens 5 Minuten</li>
</ul>
</p>

<p>Die Kimu-Anmeldung findet, genau wie für den "großen" Jumu-Wettbewerb, hier auf <a href="http://www.jumu-nordost.eu">jumu-nordost.eu</a> statt. Dazu einfach auf dem Anmeldeformular als Kategorie "Kinder musizieren" auswählen!</p>
