<h2>Ausschreibung 2013</h2>

<p>Die Ausschreibung ist der Schlüssel zur Teilnahme an "Jugend musiziert": Sie enthält viele <strong>wichtige Informationen zur Teilnahme</strong> wie etwa Altersgruppen, Kategorien sowie Anforderungen an das Vorspielprogramm und kann hier im pdf-Format heruntergeladen werden:</p>

<p>
  <%= icon_tag "file" %>
  <%= link_to "Ausschreibung 2013 (471 KB, pdf)", asset_path('ausschreibung_2013.pdf') %>
</p>

<p>Nicht in der Ausschreibung enthalten sind unten genannte Sonderkategorien, die es (fast) nur in der Region Nord- und Osteuropa gibt:</p>

<h3>Sonderkategorie "Populäre Musik"</h3>

<p>Für 2013 werden die Kategorien <strong>Popgesang solo</strong>, <strong>E-Gitarre solo</strong>, <strong>E-Bass solo</strong> und <strong>Drum-Set solo</strong> ausgeschrieben. Gefordert werden in der Altersgruppe III mindestens drei Stücke unterschiedlichen Charakters, davon ein <em>a&nbsp;cappella</em>-Stück. Die Auftrittszeit von 15 Minuten darf einschließlich Umbau und Stimmen nicht überschritten werden. Ab Altersgruppe IV sollte der Vortrag eine Eigenkomposition beinhalten.</p>

<p>Zugelassen für alle Altersgruppen sind bis zu drei jugendliche Begleiter, die gesondert als Begleitgruppe bewertet werden. Alternativ ist ein erwachsener, nicht zu bewertender Begleiter möglich. Auch Begleitgruppen brauchen für eine Weiterleitung mindestens 23 Punkte. <strong>Die Kategorie "Popgesang Solo" führt bis zum Bundeswettbewerb, alle anderen Wertungen der populären Musik nur bis zum Landeswettbewerb.</strong> Bei eventueller Teilnahmeberechtigung zum Bundeswettbewerb gelten die Bestimmungen der allgemeinen Ausschreibung (Seite 16). Die oben genannten Bedingungen sind nur für die Deutschen Schulen Nord- und Osteuropas verbindlich.</p>


<h3>Sonderkategorie "Kinder musizieren"</h3>

<p>Zunächst an der DS Helsinki zur Nachwuchsförderung eingerichtet, wird die Sonderkategorie <strong>Kinder musizieren</strong> mittlerweile an mehreren Schulen der Region Nord- und Osteuropa angeboten. Es kann mit einem beliebigen Instrument oder Gesang teilgenommen werden. Auch Mehrfachteilnahmen und Ensemblespiel sind erlaubt.</p>

<p>Teilnahmeanforderungen:
<ul>
    <li>Mindestens zwei Stücke unterschiedlichen Charakters (z.B. schnell – langsam)</li>
    <li>Vorspieldauer: höchstens 5 Minuten</li>
</ul>
</p>
