<% provide(:title, "Kontakt") %>

<h3>Mitteilung an das Jumu-Team senden</h3>

<p>Mit diesem Formular erreichst du den Landesausschuss "Jugend musiziert" Nord-und Osteuropa. Bei lokalen Fragen, etwa zum Regionalwettbewerb, wendest du dich besser an die Jumu-Kontaktperson vor Ort.</p>

<%= render 'form' %>

<h3>Anschriften und Kontaktpersonen</h3>

<div class="well">
  <p>
    <a href="http://www.deutscheschule.sk/">Deutsche Schule Bratislava</a><br>
    c/o Marianna Gazdíková &amp; Astrid Rajter<br>
    Palisády 51<br>
    811 06 Bratislava<br>
    Slowakei
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.deutscheschule.hu/">Deutsche Schule Budapest</a><br>
    c/o Agnes Tasche<br>
    Cinege ut 8<br>
    1121 Budapest<br>
    Ungarn
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.kilians.com/">St Kilian's, Deutsche Schule Dublin</a><br>
    c/o David O'Driscoll<br>
    Roebuck Road<br>
    Clonskeagh, Dublin 14<br>
    Irland
  </p>

  <p>Regionalausschuss DS Dublin:
  <ul>
    <li>Vorsitz: David O'Driscoll (Organisation Jumu Dublin), St. Kilians, Deutsche Schule, Dublin</li>
    <li>Alice Lynch (Schulleiterin), St. Kilians, Deutsche Schule, Dublin</li>
    <li>Hery Henry, Jumu Nord-Osteuropa</li>
    <li>Anne Thielemans (Musiklehrerin), St. Kilians, Deutsche Schule, Dublin</li>
  </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.dsgenf.ch">Deutsche Schule Genf</a><br>
    c/o Elinor Ziellenbach<br>
    Chemin de Champ-Claude 6<br>
    1214 Vernier<br>
    Schweiz
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.dsh.fi">Deutsche Schule Helsinki</a><br>
    c/o Robert Bär<br>
    Malminkatu 14<br>
    00100 Helsinki<br>
    Finnland
  </p>

  <p>Regionalausschuss DS Helsinki:
    <ul>
      <li>Vorsitz: Robert Bär</li>
      <li>Thomas Dietrich (Schulleiter)</li>
      <li>Milena Wadle (Orgbüro)</li>
      <li>Severi Pfeiffenberger (Musiklehrer)</li>
      <li>Joonas Ruppel (Bandlehrer)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.sanktpetriskole.dk">Sankt-Petri-Schule Kopenhagen</a><br>
    c/o Angelika Bowes<br>
    Larslejsstræde 5<br>
    1451 Kopenhagen K<br>
    Dänemark
  </p>

  <p>Regionalausschuss DS Kopenhagen:
    <ul>
      <li>Vorsitz: Angelika Bowes (Musikschulleiterin)</li>
      <li>Dr. Marion Clauding-Noell (Musik-Fachgruppenleiterin)</li>
      <li>Monika Marusic-Rakovac (Klavierlehrerin)</li>
      <li>Philipp Alexander Ostrowicz (Schulkommission)</li>
      <li>Ulrikke Wandler (Schulleitung)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.dslondon.org.uk">Deutsche Schule London</a><br>
    c/o Evelyn Meyer<br>
    Douglas House<br>
    Petersham Road<br>
    Richmond, Surrey TW10 7AH<br>
    Vereinigtes Königreich
  </p>

  <p>Regionalausschuss DS London:
    <ul>
      <li>Vorsitz: Evelyn Meyer (Head of Music)</li>
      <li>Christian Rasche (Musiklehrer)</li>
      <li>Gabriele Rasche (Musiklehrerin und Schulleiterin Grundschule)</li>
      <li>Jan Kraft (Musiklehrer an der Dwight School London, Saxophonist, Band Coach)</li>
      <li>Björn Kleiman (Violinist und Arrangeur)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.dsmoskau.ru">Deutsche Schule Moskau</a><br>
    c/o Christiane Beiküfner<br>
    Prospekt Wernadskogo 103 / 5<br>
    119526 Moskau<br>
    Russische Föderation<br>
  </p>

  <p>
    Regionalausschuss DS Moskau:
    <ul>
      <li>Vorsitz: Christiane Beiküfner</li>
      <li>Gero Markus (Kinder musizieren)</li>
      <li>Uwe Beck (Schulleiter)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.deutscheschule.no">Deutsche Schule Oslo &ndash; Max Tau</a><br>
    c/o Katja Maiwald<br>
    Sporveisgata 20<br>
    0354 Oslo<br>
    Norwegen
  </p>

  <p>Regionalausschuss DS Oslo:
    <ul>
      <li>Vorsitz: Katja Maiwald (Musiklehrerin)</li>
      <li>Ingwer Nommensen (Schulleitung)</li>
      <li>Uta Bastion (Vorstand)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.idsp.fr/">Internationale Deutsche Schule Paris</a><br>
    c/o Christoph Metz<br>
    18 rue Pasteur<br>
    92210 Saint-Cloud<br>
    Frankreich
  </p>

  <p>Regionalausschuss DS Paris:
    <ul>
      <li>Vorsitz: Christoph Metz (Musiklehrer)</li>
      <li>Maria Wehinger-Schwörer (Schulleiterin)</li>
      <li>Annekatrin Gehring (Musiklehrerin)</li>
      <li>Irene Duval (für die Verwaltung)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.ds-sofia.bg/">Deutsche Schule Sofia</a><br>
    c/o Peter Wendling<br>
    ul. Joliot Curie 25<br>
    1113 Sofia<br>
    Bulgarien<br>
    sl-sek@ds-sofia.bg
  </p>
</div>

<div class="well">
  <p>
    <a href="http://home.tyskaskolan.se/">Deutsche Schule Stockholm</a><br>
    c/o Irene Rieck<br>
    Karlavägen 25<br>
    11431 Stockholm<br>
    Schweden
  </p>

  <p>Regionalausschuss DS Stockholm:
    <ul>
      <li>Vorsitz: Irene Rieck (Fachbereichsleitung Musik)</li>
      <li>Matthias Peters (Schulleiter)</li>
      <li>Arne Skeppstedt (Musiklehrer)</li>
      <li>Madeleine Zacharieva (Koordinatorin des Instrumentalunterrichts)</li>
    </ul>
  </p>
</div>

<div class="well">
  <p>
    <a href="http://www.wbs.pl/">Willy-Brandt-Schule Warschau</a><br>
    c/o Marcin Mazur<br>
    ul. św. U. Ledóchowskiej 3<br>
    02-972 Warszawa<br>
    Polen
  </p>

  <p>Regionalausschuss DS Warschau:
    <ul>
      <li>Vorsitz: Dr. Marcin Mazur (Musiklehrer)</li>
      <li>2. Vorsitz: Marcin Lemiszewski (Musiklehrer)</li>
      <li>Monika Bańska (Lehrerin)</li>
      <li>Małgorzata Chmielewska (Lehrerin)</li>
    </ul>
  </p>
</div>

<h3>Landesausschuss Nord- und Osteuropa</h3>

<div class="well">
  <p>Der Landesausschuss setzt sich 2017 wie folgt zusammen:</p>
  <ul>
    <li>Vorsitz: Robert Bär</li>
    <li>2. Vorsitz: Irene Rieck</li>
    <li>Joonas Ruppel</li>
    <li>Martin Richter</li>
  </ul>
</div>
