<div class="entry">
  <span class="entry-label appearances-label">&laquo; Teilnehmer</span>
  <%= render entry.appearances.role_order %>
  <span class="entry-label pieces-label">Programm &raquo;</span>
  <%= render entry.pieces %>
  <span class="entry-label info-label">&laquo; Info</span>
  <%= render 'entry_info', :entry => entry %>
</div>