<h2>Angemeldete Wertungen</h2>

<%= will_paginate %>

<% @entries.group_by(&:category).each do |category, entries| %>
  <h3 class="category-name">Kategorie: <%= category.name %></h3>
  <%= render entries %>
<% end %>

<%= will_paginate %>