<h3>Hallo <%= @current_user.first_name %>,</h3>

<p>willkommen auf den internen Jumu-Seiten! Hier kannst du unter anderem:</p>

<div class="row">
  <div class="span4">
    <ul>
      <li>angemeldete Vorspiele einsehen</li>
      <li>Vorspieldaten bearbeiten</li>
      <li>Vorspiele nachmelden</li>
    </ul>
  </div>

  <div class="span4">
    <ul>
      <li>Teilnehmer auflisten</li>
      <li>Ergebnisse eintragen</li>
      <li>Urkunden drucken</li>
    </ul>
  </div>
</div>

<p>Diese und andere Werkzeuge findest du, indem du in der Seitenleiste auf den entsprechenden Wettbewerb klickst.</p>

<p>Bei Fragen oder Feedback wendest du dich am besten an <%= mail_to JUMU_ADMIN_EMAIL, JUMU_ADMIN_NAME %>.</p>
