<% provide(:title, "Neuen Benutzer erstellen") %>

<%= simple_form_for([:jmd, @user], html: { class: "form-horizontal" }) do |form| %>
  <%= render 'user_fields', :f => form %>
  <div class="form-actions">
    <%= form.button :submit, "Benutzer erstellen", class: "btn-primary" %>
    <%= link_to "Abbrechen", jmd_users_path, class: "btn btn-default" %>
  </div>
<% end %>
