// Custom colors etc. go here
$font-size-base: 16px;

@import "bootstrap";

@import "colors";
@import "sticky_footer"; /* Make footer stay on bottom */

dt {
  margin-top: 1em; // Add spacing between definition list items
}

/* Note: top-padding for navbar is handled in sticky footer styles */

/* Header */

#header-logo {
  height: 20px;
  vertical-align: top;
}

/* Jumbotron */

.jumbotron h1 {
  font-size: 44px;
  margin: 22px 0;
}

.jumbotron p {
  font-size: 18px;
  line-height: 1.6;
}

#jumbotron-logo {
  margin-top: 10px;
  max-width: 160px;
}

/* Navigation bars */

.navbar-brand {
  font-weight: 300;
}

.nav .nav-header {
  color: #999;
  font-size: 11px;
  margin: 10px 0;
  text-transform: uppercase;
}

.nav-sidebar-list li a {
  padding: 5px 15px;
}

// Image frame
#lw-logo {
  margin: 11px;
}

// Country flags
.inline-flag {
  vertical-align: baseline;
}

/* Forms */

label.required {
  font-weight: bold;
}

.help-block {
  color: #999;
  font-style: italic;
}

// "Add more" buttons in signup form
#appearances > input.btn, #pieces > input.btn {
  margin-bottom: 20px;
}

// "Remove this" buttons in signup form
#participant-remover, #piece-remover {
  text-align: right;
}

.filter-form select,
.filter-form input,
.filter-form .btn {
  margin-bottom: 1em;
}

/* Modals */

.modal-link:focus {
  outline: none;
}

.modal > form {
  margin-bottom: 0; // If form encloses footer, remove margin that would appear below it
}

/* Performance scheduling */

.draggable-performance {
  @include opacity(90);
  background-color: $draggable-background;
  border-radius: 4px;
  cursor: move;
  font-size: 95%;
  min-height: 3px;
  position: absolute;
  width: 100%;
  z-index: 1000;

  span {
    margin: 0 3px;
  }

  .draggable-performance-duration {
    float: right;
  }
}

.droppable-timetable {
  background-color: $droppable-background;
  height: 1800px;
  margin-bottom: 11px;
  position: relative;

  &.drophover {
    background-color: #ddd;
  }
}

#unscheduled {
  height: 60px;

  #unschedule-text {
    color: #666;
    display: block;
    padding: 0.75em 0 0 0.75em;
  }
}
