// Custom colors etc. go here
$baseFontSize: 16px;
$baseLineHeight: 22px;

@import 'bootstrap';

body {
  padding-top: 60px;
}

// Dropdown menu for signing in
#signin-menu {
  padding: 15px 15px 0 15px;
}

// JuMu logos on header and home page
#header-logo {
  height: 20px;
  vertical-align: top;
}

#hero-logo {
  width: 170px;
}

// Hero unit heading
.hero-unit h1 {
  font-size: 44px;
  margin: 22px 0;
}

// Country flags
.inline-flag {
  vertical-align: baseline;
}

// "Add more" buttons in signup form
#appearances > input.btn, #pieces > input.btn {
  margin-bottom: 20px;
}

// "Remove this" buttons in signup form
#participant-remover, #piece-remover {
  text-align: right;
}

// Links that spawn modal windows
.modal-link:focus {
  outline: none;
}

// Byline in footer
#byline {
  text-align: right;
}

@import "bootstrap-responsive";
