<p>Hallo <%= @resource.first_name %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort für die Jumu-Website zurückzusetzen. Wenn du es warst, kannst du nun über folgenden Link dein Passwort ändern:</p>

<p><%= link_to 'Neues Passwort einrichten', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du dies nicht möchtest, ignoriere einfach diese Mail.</p>
<p>Dein Passwort bleibt unverändert, bis du über den obenstehenden Link ein neues einrichtest.</p>
