<noscript>
  <div class="alert alert-block">
    <h4>Achtung: JavaScript ist in deinem Browser nicht aktiviert!</h4>
    Damit die Seite richtig funktioniert, musst du es zunächst einschalten. Wie das gemacht wird, steht z.B. <%= link_to "hier", "http://de.jimdo.com/wiki/JavaScript_aktivieren", :target => "blank" %>.
  </div>
</noscript>