<% provide(:title, "Nach Anmeldung suchen") %>

<p>Hier kannst du den <strong>Änderungscode</strong> eingeben, den du bei der Anmeldung per E-Mail erhalten hast, um eine bereits versendete Anmeldung zu bearbeiten.</p>

<%= form_tag signup_search_path, class: "form-search" do %>
  <%= text_field_tag :tracing_code, nil, :class => "search-query", autofocus: true %>
  <%= submit_tag "Suchen", class: "btn" %>
<% end %>

<p>Bitte beachte, dass Änderungen <strong>nur bis zum 15. November 2012</strong> möglich sind. Bis dahin muss dein Vorspielprogramm vollständig angemeldet sein!</p>
