<% flash.each do |level, text| %>
  <div class="<%= flash_class(level) %> fade in">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= text %>

    <% if [:alert, :error].include?(level) %>
      <%= mail_to JUMU_ADMIN_EMAIL, "Was heißt das?", subject: "Meldung \"#{text}\"" %>
    <% end %>
  </div>
<% end %>
