<p id="byline" class="muted">
  handmade by martin with <%= link_to "ruby on rails", "http://rubyonrails.org" %>
  and <%= link_to "twitter bootstrap", "http://twitter.github.com/bootstrap" %> //
  special thanks to <%= link_to "glyphicons", "http://glyphicons.com" %>
</p>
