<ul class="nav nav-list">
  <li class="nav-header">Verwalten</li>
  <%= nav_link_to "Wertungen", jmd_performances_path %>
  <li class="nav-header">Eingeben</li>
  <%= nav_link_to "Ergebnisse", jmd_appearances_path %>
  <li class="nav-header">Drucken</li>
</ul>
