<% if JUMU_SIGNUP_OPEN %>
  <div class="box">
    Zur <%= link_to "Anmeldung", new_entry_path %> für den
    <strong><%= Round.find_by_level(JUMU_ROUND).slug %> <%= JUMU_YEAR %></strong>
  </div>
<% end %>

&nbsp;
