<ul class="nav nav-list">
  <li class="nav-header">Wettbewerb 2013</li>
  <%= nav_link_to "Anmeldeformular", new_performance_path %>
  <%= link_to "Ausschreibung", asset_path("ausschreibung_2013.pdf") %>
</ul>
