<ul class="nav nav-list">
  <li class="nav-header">Aktuell</li>
  <%= nav_link_to "Anmeldeformular", new_performance_path %>
  <%= nav_link_to "Teilnahmeregeln", rules_path %>
  <li><%= link_to icon_tag(:file) + "Ausschreibung 2013", asset_path('ausschreibung_2013.pdf') %></li>
</ul>
