<div class="box">
  <%= image_tag('/stylesheets/blueprint/plugins/link-icons/icons/pdf.png') %>
  <%= link_to "Ergebnislisten", '/resources/ergebnisse_lw2011.pdf' %> des LW&nbsp;2011 in Warschau
</div>

&nbsp;